.block-minifaq .item-list ul {
	list-style: none;
}

.block-minifaq .item-list ul li {
	background: transparent url(images/question_bullet.gif) no-repeat scroll;
	padding: 1px 0px 4px 26px;
	margin-left: 0px;
	margin-right: 20px;
}

dt.minifaq-dt {
	font-weight: bold;
	background: transparent url(images/question_bullet.gif) no-repeat scroll;
	padding: 1px 0px 4px 26px;
}

dd.minifaq-dd {
	margin: 0; 
	padding: 0 0 0.5em 26px; 
}


